body{
    margin-top: 0;
    background-color: #B6D580;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}
div.global-container{
    display: flex;
    justify-content: center;
}
div.container{
    display: flex;
    flex-direction: column;
    width: 1382px;
    background-color:#D5EF8C ;
}

div.Infobox{
    display: flex;
    justify-content: center;
}
.toiminta{
    margin: 1em;
    padding: 5em;
    background-color: #C4DC7E;
    width: 1000px;
    height: auto;
    margin-bottom: 0;

}
footer{
    background-color:#B3C972;
    margin: 0;
    height: 52px;
}
h2{
    font-size: 35px;
    color: #709A74;
}
p{
    font-size: 35px;
    color: #709A74;
}
p.copyright{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color:#B3C972 ;
    height: 114px;
}
section{
    display: flex;
    justify-content: center;
}
nav{
    width: 1200px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #C4DC7E;
    height: 67px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    width: 160px;
}
li.nykysivu{
    height: 79px;
    width: 140px;
}
a{
    color: #709A74;
}